<% provide(:title, "Dashboard") %>
<% provide(:admin_page, "admin") %>
<section class="admin">
<div class="container">
<div class="row">
	<div class="col-lg-12 text-center">
        <h2>Command Center</h2>
        <div class="horizontal-line"></div>
    </div>
</div>
</div>
</section>